body {
	background: var(--surface-dark-background);
	color: var(--content-on-dark-secondary);
	font-family: var(--default-font-family);
	font-size: var(--paragraph-lg);
	line-height: 1.4;
}

picture,
img {
	margin-left: auto;
	margin-right: auto;
}

a {
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: var(--content-on-dark-secondary);
}
