{{ define "main" }}
	<section class="article">
		<div class="section hero">
			<div class="container">
				<div class="stack-lg">
					<h1 class="display display--lg text-center">{{ .Title }}</h1>
					<div class="flex flex--center">
						<div class="icon-with-label">
							{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/calendar.svg" "class" "icon") }}
							<p class="label-md">Atualizada em <time datetime="{{ .Date }}"> {{ .Date.Format "01/02/2006" }}</time></p>
						</div>
					</div>
					{{ partial "anchor.html" (dict "label" "Ler a política de privacidade" "href" "#conteudo") . }}
					{{ partial "background.html" (dict "image" .Params.image "alt" .Title) }}
				</div>
			</div>
		</div>
		<div class="section content">
			<div class="container container--md">
				<div class="politica-de-privacidade" id="conteudo">
					{{ .Content }}
				</div>
			</div>
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
