{{ define "main" }}
	<section class="section subpage-hero">
		<div class="container container--md">
			<div class="box text-center stack-sm">
				<h1 class="display display--sm">Política de Privacidade</h1>
				<p class="text-lg">A Política de Privacidade foi atualizada em <time datetime="2023-06-07">07/06/2023</time>.</p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container container--sm">
			<div class="politica-de-privacidade">
				{{ .Content }}
			</div>
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
