<div class="box transtornos-card">
	<figure class="transtornos-card__figure">
		<div class="icon-colored-on-hover">
			<img src="{{ .Params.icon.mono }}" alt="Ícone {{ .Title }}" width="102" height="102" />
			<img src="{{ .Params.icon.color }}" alt="Ícone {{ .Title }}" width="102" height="102" />
		</div>
	</figure>
	<div class="transtornos-card__content">
		<div class="stack-sm">
			<h3 class="heading heading--sm">{{ .Params.name }}</h3>
			<p>{{ .Description }}</p>
		</div>
		<div class="stack-sm text-right">
			<a class="button button--outline button--{{ .Params.color }}-on-hover" href="{{ .Permalink }}">Ver mais</a>
		</div>
	</div>
</div>
