{{ define "main" }}
	<section class="section transtornos">
		<div class="stack-xl">
			<div class="container container--xs">
				<div class="stack-sm text-center">
					<h1 class="display display--lg">Transtornos</h1>
					<p class="text-xl">Entenda quais são os principais tipos de transtornos e como funcionam.</p>
				</div>
			</div>
			<div class="container">
				<div class="stack-lg">
					<div class="stack-sm text-center">
						<h2 class="overline overline--md">Tipos de transtornos</h2>
						<p class="heading heading--md">Principais áreas de atuação e tipos de transtornos</p>
					</div>
					<div class="transtornos-feed">
						{{ range sort .Page.RegularPages ".Params.name" }}
							{{ .Render "card" }}
						{{ end }}
					</div>
				</div>
			</div>
			<div class="container container--xs">
				<p class="text-lg text-center">Se você não se identificou com alguma das áreas de atuação acima, entre em contato ou marque sua consulta.</p>
			</div>
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
