{{ define "main" }}
	<section class="section blog-hero">
		<div class="container">
			<div class="grid align-middle reverse-at-desktop">
				<div class="column column-6-at-desktop">
					<div class="stack-lg text-center text-left-at-desktop">
						<h1 class="display display--sm">Principais áreas de atuação e tipos de transtornos</h1>
						<p class="text-xl">Entenda quais são os principais tipos de transtornos e como funcionam.</p>
					</div>
				</div>
				<div class="column column-6-at-desktop">
					<picture class="image-fill-height image-fill-height--left">
						<img src="/yuri-busin.webp" alt="Dr. Yuri Busin" loading="lazy" />
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section class="section spacing-bottom-0">
		<div class="container">
			<div class="stack-lg">
				<div class="stack-sm text-center">
					<h2 class="overline overline--md">Tipos de transtornos</h2>
					<p class="heading heading--md">Principais áreas de atuação e tipos de transtornos</p>
				</div>
				<div class="grid align-stretch">
					{{ range .Page.RegularPages }}
						<div class="column column-6-at-desktop">
							<div class="service">
								<div class="service__icon">
									<img src="{{ .Params.icon }}" alt="Ícone {{ .Title }}" loading="lazy" />
								</div>
								<div class="service__content">
									<div class="service__title">
										<div class="stack-sm">
											<h3 class="heading heading--sm">{{ .Title }}</h3>
											<p>{{ .Description }}</p>
										</div>
									</div>
									<div class="service__button">
										<a class="button button--negative" href="{{ .Permalink }}">Ver mais</a>
									</div>
								</div>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
