{{ define "main" }}
	<section>
		<div class="section section--line subpage-hero">
			{{ partial "background-image.html" (dict "image" .Params.image "alt" .Title) }}
			<div class="container container--sm">
				<div class="stack-lg">
					<div class="box transtornos-card">
						<div class="transtornos-card__icon transtornos-card__icon--center">
							<img src="{{ .Params.icon.color }}" alt="Ícone {{ .Title }}" width="102" height="102" />
						</div>
						<div class="transtornos-card__content">
							<h1 class="display display--sm text-center">{{ .Title }}</h1>
						</div>
					</div>
					<div class="text-center">
						<a href="#saber-mais" title="Saber mais">
							{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/down.svg" "class" "icon align-center") }}
						</a>
					</div>
				</div>
			</div>
			{{ partial "line.html" (dict "bottom" "14rem") }}
		</div>
		<div class="section">
			<div class="stack-xl">
				<div class="container container--sm">
					<p class="text-lg text-center">{{ .Params.excerpt }}</p>
				</div>
				<div class="container container--xl">
					<div class="rich-text" id="saber-mais">
						{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="stack-lg">
			<div class="container">
				<div class="text-center">
					<h2 class="display display--sm">Outros transtornos</h2>
				</div>
			</div>
			{{ partial "transtornos.html" . }}
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
