{{ define "main" }}
	<section class="article">
		<div class="section hero">
			<div class="container container--sm">
				<div class="stack-lg">
					<div class="transtorno box">
						<div class="transtorno__icon transtorno__icon--center">
							<img src="{{ .Params.icon.color }}" alt="Ícone {{ .Title }}" width="102" height="102" />
						</div>
						<div class="transtorno__content">
							<h1 class="display display--sm text-center">{{ .Title }}</h1>
						</div>
					</div>
					{{ partial "anchor.html" (dict "label" "Ler a publicação" "href" "#conteudo") . }}
				</div>
				{{ partial "line.html" (dict "bottom" "14rem") }}
				{{ partial "background.html" (dict "image" .Params.image "alt" .Title) }}
			</div>
		</div>
		<div class="section content">
			<div class="container container--md">
				<div class="rich-text">
					{{ .Content }}
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="stack-lg">
			<div class="container">
				<div class="text-center">
					<h2 class="display display--sm">Outros transtornos</h2>
				</div>
			</div>
			{{ partial "transtornos.html" . }}
		</div>
	</section>

	{{ partial "call-to-action.html" . }}
{{ end }}
