@mixin bg-lighter-blue {
	background: map-get($colors, brand-lighter-blue);
	border-top: 1px solid map-get($colors, brand-soft-blue);
}

@include breakpoint(small, medium) {
	.bg-lighter-blue-mobile {
		@include bg-lighter-blue;
	}
}

.bg-lighter-blue {
	@include bg-lighter-blue;
}

// -
// -
// -

.bg-blue {
	background: map-get($colors, green);
}

.bg-blue,
.bg-blue * {
	color: map-get($colors, neutral-100);
}

// -
// -
// -

.bg-purple {
	background: map-get($colors, brand-purple);
}

.bg-purple,
.bg-purple * {
	color: map-get($colors, neutral-100);
}

// -
// -
// -

.bg-neutral-0 {
	background: map-get($colors, neutral-0);
	color: map-get($colors, neutral-100);
}

.bg-neutral-100 {
	background: map-get($colors, neutral-100);
}
