$breakpoints: (
	small: 0,
	medium: 48rem, // Expected value: 768px
	large: 65rem, // Expected value: 1040px
);

@function breakpoint-next($name) {
	$breakpoint-names: map-keys($breakpoints);
	$n: index($breakpoint-names, $name);
	@return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name) {
	$min: map-get($breakpoints, $name);
	@return if($min != 0, $min, null);
}

@function breakpoint-max($name) {
	$next: breakpoint-next($name);
	@return if($next, breakpoint-min($next) - 0.02, null);
}

@mixin breakpoint($lower, $upper: $lower) {
	$min: breakpoint-min($lower);
	$max: breakpoint-max($upper);

	@if $min != null and $max != null {
		@media (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else if $max != null {
		@media (max-width: $max) {
			@content;
		}
	} @else if $min != null {
		@media (min-width: $min) {
			@content;
		}
	}
}
