@mixin fill-side-padding {
	min-width: calc(100% + var(--side-padding) * 2);
	position: relative;
	left: calc(var(--side-padding) * -1);
}

@mixin reverse-grid-columns {
	direction: rtl;

	& > * {
		direction: ltr;
	}
}

@mixin paragraph($size) {
	font-size: var(--paragraph-#{$size});
	line-height: 1.5;

	@if $size == lg {
		line-height: 1.4;
	}

	@if $size == xl {
		line-height: 1.3;
	}
}

@mixin generate-text-aligner($aligner) {
	text-align: #{$aligner};

	@include media('>desktop') {
		&-at-desktop {
			text-align: #{$aligner};
		}
	}

	@include media('>tablet') {
		&-at-tablet {
			text-align: #{$aligner};
		}
	}

	@include media('<tablet') {
		&-at-phone {
			text-align: #{$aligner};
		}
	}
}

@mixin generate-spacing-query($direction, $size) {
	.spacing-#{$direction}-#{$size} {
		padding-#{$direction}: $size;
	}

	@include media('>desktop') {
		.spacing-#{$direction}-#{$size}-at-destkop {
			padding-#{$direction}: $size;
		}
	}

	@include media('>tablet') {
		.spacing-#{$direction}-#{$size}-at-tablet {
			padding-#{$direction}: $size;
		}
	}

	@include media('<tablet') {
		.spacing-#{$direction}-#{$size}-at-phone {
			padding-#{$direction}: $size;
		}
	}
}
