.align-center {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	justify-self: center;
}

.align-bottom {
	align-self: flex-end;
	align-items: flex-end;
}

.align-top {
	align-self: flex-start;
	align-items: flex-start;
}

.align-stretch {
	align-self: stretch;
	align-items: stretch;
}

.align-middle {
	align-self: center;
	align-items: center;
}
