:root {
	/* ============================================= */
	/* Colors */
	/* ============================================= */

	--content-on-light-primary: rgba(0, 0, 0, 1);
	--content-on-light-secondary: rgba(40, 40, 40, 0.8);
	--content-on-light-disabled: rgba(40, 40, 40, 0.5);

	--content-on-dark-primary: rgba(255, 255, 255, 1);
	--content-on-dark-secondary: rgba(255, 255, 255, 0.8);
	--content-on-dark-disabled: rgba(255, 255, 255, 0.4);

	--surface-light-background: rgba(255, 255, 255, 1);
	--surface-light-1: rgba(251, 251, 251, 1);
	--surface-light-2: rgba(245, 245, 245, 1);
	--surface-light-stroke: rgba(0, 0, 0, 0.08);

	--surface-dark-background: rgba(0, 0, 0, 1);
	--surface-dark-1: rgba(15, 15, 15, 1);
	--surface-dark-2: rgba(36, 36, 36, 1);
	--surface-dark-stroke: rgba(255, 255, 255, 0.12);

	--green: rgba(141, 198, 63, 1);
	--green-hover: rgba(170, 212, 111, 1);
	--green-pressed: rgba(198, 226, 159, 1);

	--blue: rgba(116, 171, 255, 1);
	--blue-hover: rgba(151, 192, 255, 1);
	--blue-pressed: rgba(185, 213, 255, 1);

	--cyan: rgba(107, 220, 255, 1);
	--cyan-hover: rgba(144, 229, 255, 1);
	--cyan-pressed: rgba(181, 237, 255, 1);

	--orange: rgba(243, 129, 65, 1);
	--orange-hover: rgba(246, 161, 113, 1);
	--orange-pressed: rgba(249, 192, 160, 1);

	--pink: rgba(235, 104, 151, 1);
	--pink-hover: rgba(240, 142, 177, 1);
	--pink-pressed: rgba(245, 179, 203, 1);

	--purple: rgba(219, 126, 231, 1);
	--purple-hover: rgba(228, 158, 237, 1);
	--purple-pressed: rgba(237, 190, 243, 1);

	--salmon: rgba(236, 138, 142, 1);
	--salmon-hover: rgba(241, 167, 170, 1);
	--salmon-pressed: rgba(245, 196, 198, 1);

	--yellow: rgba(236, 158, 41, 1);
	--yellow-hover: rgba(241, 182, 95, 1);
	--yellow-pressed: rgba(245, 206, 148, 1);

	--whatsapp: rgba(37, 211, 102, 1);
	--whatsapp-hover: rgba(18, 140, 126, 1);

	--gradient-1: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--surface-dark-background);
	--gradient-2: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 100%), var(--surface-dark-background);

	--gradient-transparent-to-dark: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--surface-dark-background) 100%);
	--gradient-dark-to-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--surface-dark-background) 100%);

	/* ============================================= */
	/* Text */
	/* ============================================= */

	/* 900, 400, 300, 500, 700 */
	--default-font-family: 'Archivo', sans-serif;

	--display-xl: 6.5rem; /* Equivalent to 104px */
	--display-lg: 5rem; /* Equivalent to 80px */
	--display-md: 4rem; /* Equivalent to 64px */
	--display-sm: 3rem; /* Equivalent to 48px */

	--heading-xl: 2.5rem; /* Equivalent to 40px */
	--heading-lg: 2.25rem; /* Equivalent to 36px */
	--heading-md: 2rem; /* Equivalent to 32px */
	--heading-sm: 1.5rem; /* Equivalent to 24px */
	--heading--xs: 1.12rem; /* Equivalent to 18px */

	--paragraph-xl: 1.375rem; /* Equivalent to 22px */
	--paragraph-lg: 1.25rem; /* Equivalent to 20px */
	--paragraph-md: 1rem; /* Equivalent to 16px */
	--paragraph-sm: 0.75rem; /* Equivalent to 12px */

	--button-md: 1rem; /* Equivalent to 16px */
	--button-sm: 0.875rem; /* Equivalent to 14px */
	--overline-md: 1rem; /* Equivalent to 16px */
	--overline-sm: 0.75rem; /* Equivalent to 12px */

	--label-lg: 1.25rem; /* Equivalent to 20px */
	--label-md: 1rem; /* Equivalent to 18px */
	--label-sm: 0.88rem; /* Equivalent to 14px */
	--label-xs: 0.62rem; /* Equivalent to 10px */

	/* ============================================= */
	/* Spacing */
	/* ============================================= */

	--spacing-xxxl: 17rem; /* Equivalent to 272px */
	--spacing-xxl: 6.5rem; /* Equivalent to 104px */
	--spacing-xl: 4rem; /* Equivalent to 64px */
	--spacing-lg: 2.5rem; /* Equivalent to 40px */
	--spacing-md: 1.5rem; /* Equivalent to 24px */
	--spacing-sm: 1rem; /* Equivalent to 16px */
	--spacing-xs: 0.5rem; /* Equivalent to 8px */
	--spacing-xxs: 0.25rem; /* Equivalent to 4px */
	--side-spacing: var(--spacing-md);

	/* ============================================= */
	/* Container */
	/* ============================================= */

	--container-xxl: 84rem; /* Equivalent to 1240px */
	--container-xl: 71.25rem; /* Equivalent to 1140px */
	--container-lg: 60rem; /* Equivalent to 960px */
	--container-md: 48rem; /* Equivalent to 768px */
	--container-sm: 42rem; /* Equivalent to 672px */
	--container-xs: 35rem; /* Equivalent to 560px */

	/* ============================================= */
	/* Radius */
	/* ============================================= */

	--radius-circle: 100rem;
	--radius-lg: 1rem; /* Equivalent to 16px */
	--radius-md: 0.5rem; /* Equivalent to 8px */
	--radius-sm: 0.25rem; /* Equivalent to 4px */
	--radius-xs: 0.125rem; /* Equivalent to 2px */

	/* ============================================= */
	/* Z-index */
	/* ============================================= */

	--z-index-background: -4;
	--z-index-line: -3;
	--z-index-image: -2;
	--z-index-overlay: -1;

	--z-index-pinned-button: 10;
	--z-index-menu: 15;
	--z-index-menu-overlay: 20;
}

@media (--phone), (--tablet) {
	:root {
		--display-xl: clamp(2.5rem, 6.5vw, 6.5rem);
		--display-lg: clamp(2.5rem, 6.5vw, 5rem);
		--display-md: clamp(2.5rem, 6.5vw, 4rem);
		--display-sm: clamp(2.5rem, 6.5vw, 3rem);

		--paragraph-xl: 1.25rem; /* Equivalent to 28px */
	}
}
