<article class="card">
	<header class="card__header">
		{{ $image := resources.Get (printf "images/%s" .Params.image) }}
		{{ with $image }}
			<img src="{{ ($image.Fill "768x576 webp").RelPermalink }}" alt="{{ .Title }}" loading="lazy" width="768" height="576" />
		{{ end }}
	</header>
	<section class="card__body">
		<div class="stack-sm">
			{{ range .Params.categories }}
				<span class="tag tag--negative">{{ . }}</span>
			{{ end }}
			<h2 class="heading heading--sm">{{ .Title }}</h2>
		</div>
	</section>
	<footer class="card__footer">
		<div class="icon-with-label">
			{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/clock-circle.svg" "class" "icon") }}
			<p class="label-md">{{ .ReadingTime }} minuto{{ if (ne .ReadingTime 1) }}s{{ end }}</p>
		</div>
		<a class="button button--green" href="{{ .RelPermalink }}">Ler</a>
	</footer>
</article>
