<article class="card">
	<header class="card__header">
		{{ $image := resources.Get (printf "images/%s" .Params.image) }}
		{{ with $image }}
			<img src="{{ ($image.Fill "768x576 webp").RelPermalink }}" alt="{{ .Title }}" loading="lazy" width="768" height="576" />
		{{ end }}
		{{ with .Params.press }}
			<span class="heading heading--sm">{{ . }}</span>
		{{ end }}
	</header>
	<section class="card__body">
		<div class="stack-md">
			{{ with .Params.category }}
				<a class="tag tag--negative" href="{{ delimit (slice "/categoria/" (urlize .) $.Site.Params.ugly) "" | relURL }}">{{ . }}</a>
			{{ end }}
			<h2 class="heading heading--sm">{{ .Title }}</h2>
		</div>
	</section>
	<footer class="card__footer">
		<a href="{{ .RelPermalink }}" aria-label="Ler publicação"></a>
	</footer>
</article>
