{{ define "main" }}
	<!-- Get all posts. "Where" is necessary to filter the posts by type, as the single pages aren't in the "blog" folder -->
	{{ $allPosts := where .Site.RegularPages "Type" "blog" }}


	<!-- Get all featured posts -->
	{{ $featuredPosts := where $allPosts "Params.featured" "==" true }}


	<!-- Get all non-featured posts. It's not using "false" because some posts may not have the "featured" param -->
	{{ $nonFeaturedPosts := where $allPosts "Params.featured" "!=" true }}


	<!-- Get the first 2 featured posts -->
	{{ $recentFeaturedPosts := $featuredPosts | first 2 }}


	<!-- Get the rest of the featured posts -->
	{{ $oldFeaturedPosts := $featuredPosts | after 2 }}


	<!-- Get all non-featured posts and the featured posts that are not in the first 2 -->
	{{ $recentPosts := union $nonFeaturedPosts $oldFeaturedPosts }}


	<!-- Paginate the posts -->
	{{ $paginator := .Paginate $recentPosts }}

	{{ if eq .Paginator.PageNumber 1 }}
		<section class="section blog">
			<div class="container">
				<div class="grid grid--reverse align-middle">
					<div class="stack-lg">
						<h1 class="display display--lg">Blog</h1>
						<p class="text-xl text-light">Escrevo artigos constantemente em meu blog sobre Psicologia e Comportamento do Cotidiano. Espero que o conteúdo sane algumas dúvidas!</p>
						<a class="button button--green" href="#publicacoes">Ver publicações mais recentes</a>
					</div>
					<div class="stack-lg">
						<picture class="image-fill-height image-fill-height--left">
							<img src="/images/blog.webp" alt="Dr. Yuri Busin sentado refletindo" />
						</picture>
					</div>
				</div>
			</div>
		</section>

		<section class="section publicacoes-em-destaque" id="publicacoes-em-destaque">
			<div class="container container--fluid">
				<div class="stack-lg">
					<div class="text-center">
						<h2 class="heading heading--md">Publicações em destaque</h2>
					</div>
					<div class="feed">
						{{ range $recentFeaturedPosts }}
							{{ .Render "card" }}
						{{ end }}
					</div>
				</div>
			</div>
		</section>
	{{ end }}


	<section class="section {{ if eq .Paginator.PageNumber 1 }}publicacoes-recentes{{ end }}" id="publicacoes">
		<div class="container container--fluid">
			<div class="stack-lg">
				<div class="text-center">
					<div class="stack-xs">
						{{ if ne .Paginator.PageNumber 1 }}
							<p class="overline overline--sm">Página {{ .Paginator.PageNumber }} de {{ .Paginator.TotalPages }}</p>
							<h1 class="display display--sm">Todas publicações</h1>
						{{ else }}
							<h2 class="heading heading--md">Publicações mais recentes</h2>
						{{ end }}
					</div>
				</div>
				<div class="feed">
					{{ range $paginator.Pages }}
						{{ .Render "card" }}
					{{ end }}
				</div>
				{{ partial "pagination.html" . }}
			</div>
		</div>
	</section>
{{ end }}
