{{ define "main" }}
	{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}

	{{ if eq .Paginator.PageNumber 1 }}
		<section class="section">
			<div class="container">
				<div class="stack-lg">
					<div class="text-center">
						<h2 class="heading heading--md">Publicações em destaque</h2>
					</div>
					{{ $featuredPosts := where .Site.RegularPages "Params.featured" "==" true }}
					<div class="grid">
						{{ range first 2 $featuredPosts }}
							{{ .Render "card" }}
						{{ end }}
					</div>
				</div>
			</div>
		</section>
	{{ end }}

	<section class="section">
		<div class="container">
			<div class="stack-lg">
				<div class="text-center">
					<div class="stack-xs">
						{{ if ne .Paginator.PageNumber 1 }}
							<p class="overline overline--sm">Página {{ .Paginator.PageNumber }} de {{ .Paginator.TotalPages }}</p>
							<h1 class="display display--sm">Todas publicações</h1>
						{{ else }}
							<h2 class="heading heading--md">Publicações mais recentes</h2>
						{{ end }}
					</div>
				</div>
				{{ $featuredPosts := where .Site.RegularPages "Params.featured" "==" true }}
				<div class="grid">
					{{ range .Paginator.Pages }}
						{{ .Render "card" }}
					{{ end }}
				</div>
				{{ partial "pagination.html" . }}
			</div>
		</div>
	</section>
{{ end }}
