<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
		<meta name="description" content="{{ .Description }}" />

		{{ if .Params.noindex }}
			<meta name="robots" content="noindex" />
		{{ end }}

		{{ $stylesheet := resources.Get "css/style.css" | postCSS | fingerprint "sha512" }}
		<link rel="stylesheet" href="{{ $stylesheet.RelPermalink | safeURL }}" integrity="{{ $stylesheet.Data.Integrity }}" />

		{{ $fonts := slice "archivo-black" "archivo-bold" "archivo-medium" "archivo-regular" "archivo-light" }}
		{{ range $fonts }}
			<link rel="preload" href="/fonts/{{ . }}.woff2" as="font" type="font/woff2" crossorigin />
		{{ end }}


		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}" />
		<meta property="og:description" content="{{ .Description }}" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:image" content="{{ .Site.BaseURL }}/opengraph.png" />

		<meta name="theme-color" content="#FFFFFF" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="canonical" href="{{ .Permalink }}" />

		{{ partial "schema.html" . }}
	</head>
	<body class="body" id="body">
		{{ partial "header.html" . }}


		<main class="main" id="main">
			{{ block "main" . }}{{ end }}
		</main>

		{{ partial "footer.html" . }}

		{{ if .IsHome }}
			{{ $javascriptGsap := resources.Get "js/gsap.js" | js.Build "js/gsap.js" | resources.Minify }}
			<script src="{{ $javascriptGsap.RelPermalink | safeURL }}" defer></script>

			{{ $javascriptSwiper := resources.Get "js/swiper.js" | js.Build "js/swiper.js" | resources.Minify }}
			<script src="{{ $javascriptSwiper.RelPermalink | safeURL }}" defer></script>
		{{ end }}

		{{ $mainJavascript := resources.Get "js/main.js" | js.Build "js/main.js" | resources.Minify }}
		<script src="{{ $mainJavascript.RelPermalink | safeURL }}" defer></script>

		<!-- Google Tag Manager  -->
		{{ if not (in (.Site.BaseURL | string) "localhost") }}
		{{ end }}
		<!-- End Google Tag Manager -->
	</body>
</html>
