.box {
	border-radius: $default-border-radius;
	border: 1px solid map-get($colors, border);
	box-shadow: map-get($shadows, regular);
	padding: 2.5rem $default-side-padding;

	&--compact {
		padding: $default-side-padding;
	}
}
