.crossfade-images {
	position: relative;
	max-width: max-content;
	margin: auto;

	&__item {
		@extend .image-offset;
		@extend .image-offset--bottom;
		@extend .image-offset--right;

		--translateX: 28rem;
		transition: opacity 300ms ease-in-out;

		&--image {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}

	@include breakpoint(large) {
		position: inherit;
		max-width: inherit;
	}
}
