.display {
	font-weight: 900;
	letter-spacing: -0.06em;

	&-xl {
		font-size: var(--display-xl);
		line-height: 0.96;
	}

	&-lg {
		font-size: var(--display-lg);
		line-height: 0.96;
	}

	&-md {
		font-size: var(--display-md);
		line-height: 1;
	}

	&-sm {
		font-size: var(--display-sm);
		line-height: 1;
	}
}
