.heading {
	font-weight: 900;
	letter-spacing: -1px;

	&-xl {
		font-size: var(--heading-xl);
		line-height: 1.05;
	}

	&-lg {
		font-size: var(--heading-lg);
		line-height: 1.1;
	}

	&-md {
		font-size: var(--heading-md);
		line-height: 1.15;
	}

	&-sm {
		font-size: var(--heading-sm);
		line-height: 1.2;
	}

	&-xs {
		font-size: var(--heading-xs);
		line-height: 1.2;
	}
}
