.icon-with-text {
	--icon-column-width: 5.75rem;

	display: grid;
	align-items: center;
	grid-auto-rows: min-content;
	grid-template-columns: var(--icon-column-width) 1fr;
	grid-gap: 1rem;

	@include breakpoint(large) {
		align-items: center;
		grid-template-columns: 1fr;
	}
}
