// -
// - Add bubble behind the landscape image.
// -

.image-bubble {
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&--left-top-yellow::before {
		background: url(/vectors/brand-bubble-10-yellow.svg) no-repeat center;
		transform: translate(-42%, -18%) rotate(30deg) scale(0.9);
	}

	&--left-bottom-yellow::before {
		background: url(/vectors/brand-bubble-10-yellow.svg) no-repeat center;
		transform: translate(-34%, 24%) scale(0.9);
	}

	&--left-bottom-purple::before {
		background: url(/vectors/brand-bubble-10-purple.svg) no-repeat center;
		transform: translate(-34%, 24%) scale(0.9);
	}

	&--left-bottom-blue::before {
		background: url(/vectors/brand-bubble-10-blue.svg) no-repeat center;
		transform: translate(-34%, 24%) scale(0.9);
	}
}
