.image {
	&-border {
		border: 1px solid var(--surface-dark-stroke);
	}

	&-radius {
		&-lg {
			border-radius: var(--radius-lg);
		}
		&-md {
			border-radius: var(--radius-md);
		}
		&-sm {
			border-radius: var(--radius-sm);
		}
		&-xs {
			border-radius: var(--radius-xs);
		}
	}
}
