.label {
	&-lg {
		font-size: var(--label-lg);
		line-height: 1.2;
	}

	&-md {
		font-size: var(--label-md);
		line-height: 1.25;
	}

	&-sm {
		font-size: var(--label-sm);
		line-height: 1.25;
	}

	&-xs {
		font-size: var(--label-xs);
		line-height: 1.25;
	}
}
