.modal {
	// Avoid scrolling to the bottom of the page when opening the modal.
	position: fixed;
	z-index: 1;
	overflow: initial;

	&[aria-hidden="true"] {
		display: none;
	}

	&[aria-hidden="false"] {
		display: block;
	}

	&__overlay {
		background-color: rgba(0, 0, 0, 0.8); // Add a semi-transparent overlay to the modal.
		display: flex; // Make the overlay take up the full width of the screen.
		align-items: flex-start; // Align the modal's content to the top of the screen.
		justify-content: center; // Center the modal's content horizontally.
		position: fixed; // Make the overlay fixed to the top of the screen.
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		@include breakpoint(large) {
			background-color: rgba(0, 0, 0, 0.6); // Add a semi-transparent overlay to the modal.
			align-items: center; // Align the modal's content to the center of the screen.
		}
	}

	&__container {
		background-color: map-get($colors, neutral-100); // Add background color to the modal box.
		border-radius: 1rem; // Add a border radius to the modal box.
		width: 100%; // Set the width of the modal box to 100%.
		max-width: 38rem; // Set the max-width of the modal box to 608px.
		overflow-y: auto; // Allow the modal box to scroll vertically.
		margin: auto; // Center the modal box horizontally and vertically.
		padding: 3rem 2rem; // Padding Bottom is larger to prevent safari from hiding content on mobile.

		@include breakpoint(large) {
			position: relative; // Make the modal box relative to align close button to the right.
			height: auto; // Set the height of the modal box to auto.
			padding: 3rem;

			display: flex;
			gap: 2rem;
			align-items: flex-start;
			flex-direction: row-reverse;
		}
	}

	&__header {
		color: map-get($colors, neutral-100); // Set the color of the close button to the neutral-100 color.
		display: flex; // Make the header take up the full width of the modal box.
		justify-content: flex-end;
		align-items: center;
		position: absolute; // Make the header absolute to align close button over the top of the modal box.
		top: 2rem; // Set the position of the close button to the same position as the menu toggle.
		right: 1.5rem; // Set the position of the close button to the same position as the menu toggle.

		&__close {
			border-radius: 100%; // Add a border radius to look like a circle on focus.
			width: $default-close-button-size;
			height: $default-close-button-size;

			svg {
				pointer-events: none; // Disable pointer events to prevent the close button from being clickable.
			}
		}

		@include breakpoint(large) {
			position: relative; // Reset the position of the close button to the relative position.
			top: inherit; // Set the position of the close button to the top of the modal box.
			right: inherit; // Set the position of the close button to the right of the modal box.
			color: map-get($colors, muted); // Set the color of the close button to the muted color.
		}
	}
}
