.rich-text {
	color: var(--content-on-dark-secondary);

	/**
   * Container
   */

	> *:not(img) {
		max-width: var(--container-sm);
		margin-left: auto;
		margin-right: auto;
	}

	> p:has(img) {
		max-width: 100%;
	}

	/**
   * Elements
   */

	img {
		border-radius: var(--radius-md);
	}

	a {
		color: var(--green-700);

		&:hover {
			color: var(--green-800);
		}
	}

	blockquote {
		@extend .blockquote;
	}

	ul,
	ol {
		@extend .list;
	}

	ol {
		@extend .list--ordered;
	}

	ul {
		@extend .list--unordered;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@extend .heading;
		color: var(--content-on-dark-primary);
	}

	h2 {
		@extend .heading--xl;
	}

	h3 {
		@extend .heading--md;
	}

	h4 {
		@extend .heading--sm;
	}

	h5 {
		@extend .heading--sm;
	}

	h6 {
		@extend .heading--sm;
	}

	/**
   * Spacing
   */

	* + *,
	blockquote > * + * {
		margin-top: var(--spacing-sm);
	}

	h2 + *, // Any element that is after an h2
  h3 + *, // Any element that is after an h3
  * + h3, // Any element that is before an h3
  * + h4 // Any element that is before an h4,
	{
		margin-top: var(--spacing-md);
	}

	* + h2, // Any element that is before an h2
  * + p:has(img), // Any element that is before a paragraph with an image
  * + blockquote, // Any element that is before a blockquote
  p:has(img) + *, // Any element that is after a paragraph with an image
  blockquote + * // Any element that is after a paragraph with an image
	{
		margin-top: var(--spacing-lg);
	}
}
