.invisible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// -
// -
// -

.tabpanel .tabs {
	position: relative;
	z-index: 1;

	&__content[aria-hidden="true"] {
		display: none;
	}

	&__link {
		display: block;

		&:hover {
			color: map-get($colors, green);
		}

		&:focus {
			outline-offset: 4px; // Increase the outline offset to make it easier to focus on the link.
		}

		&:active {
			border-color: map-get($colors, green);
			color: map-get($colors, green);
		}

		&[aria-selected="true"] {
			background: rgba(map-get($colors, green), $alpha: 0.04);
			border-color: map-get($colors, green);
		}
	}
}

// -
// -
// -

.tabpanel--horizontal .tabs {
	&__list {
		display: flex;
		gap: 1.5rem;
		justify-content: center;
		text-align: center;

		> * {
			flex: 1;
		}
	}

	&__link {
		border-color: rgba($color: #000000, $alpha: 0);
		border-radius: 0.5rem 0.5rem 0 0;
		border-style: solid;
		border-bottom-width: 2px;
		padding: 0.5em 1em;
	}

	&__content {
		padding-top: 3rem;
	}
}

// -
// -
// -

.tabpanel--vertical .tabs {
	&__link {
		border-color: rgba($color: #000000, $alpha: 0);
		border-radius: 0 0.5rem 0.5rem 0;
		border-style: solid;
		border-left-width: 2px;
		padding: 1em 0.5em;
	}
}
