.tag {
	border-radius: var(--radius-xs);
	border-style: 2px;
	border-width: 2px;
	display: inline-block;
	padding: 0.25em 0.5em;
	font-size: var(--label-sm);

	&--positive {
		border-color: var(--content-on-light-primary);
		color: var(--content-on-light-primary);
	}

	&--negative {
		border-color: var(--content-on-dark-primary);
		color: var(--content-on-dark-primary);
	}
}
