.blockquote {
	color: var(--content-on-dark-primary);
	position: relative;
	padding-left: var(--spacing-lg);
}

.blockquote::before {
	content: '“';
	color: var(--green-700);
	display: block;
	font-size: var(--display-md);
	line-height: 1;
	margin-bottom: var(--spacing-sm);

	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-10%);
}
