.button {
	border-radius: var(--radius-md);
	border-style: solid;
	border-width: 1px;
	display: inline-flex;
	gap: 0.5em;
	align-items: center;
	font-size: var(--button-md);
	padding: 0.75em 1.25em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

/*  */
/*  */
/*  */

.button--sm {
	font-size: var(--button-sm);
}

/*  */
/*  */
/*  */

.button--green {
	background: var(--green);
	border-color: var(--green);
	color: var(--content-on-light-primary);
}

.button--green:hover {
	background: var(--green-hover);
	border-color: var(--green-hover);
	color: var(--content-on-light-primary);
}

.button--outline {
	background: transparent;
	border-color: var(--content-on-dark-primary);
	color: var(--content-on-dark-primary);
}

.button--outline:hover {
	background: var(--green);
	border-color: var(--green);
	color: var(--content-on-light-primary);
}

.button--line {
	background: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--content-on-dark-primary);
	border-radius: 0;
	color: var(--content-on-dark-primary);
}

.button--line:hover {
	border-radius: var(--radius-md);
	border-color: var(--green);
	color: var(--content-on-dark-secondary);
}

/*  */
/*  */
/*  */

.button--green-on-hover:hover {
	background: var(--green);
	border-color: var(--green);
}

.button--blue-on-hover:hover {
	background: var(--blue);
	border-color: var(--blue);
}

.button--cyan-on-hover:hover {
	background: var(--cyan);
	border-color: var(--cyan);
}

.button--orange-on-hover:hover {
	background: var(--orange);
	border-color: var(--orange);
}

.button--pink-on-hover:hover {
	background: var(--pink);
	border-color: var(--pink);
}

.button--purple-on-hover:hover {
	background: var(--purple);
	border-color: var(--purple);
}

.button--salmon-on-hover:hover {
	background: var(--salmon);
	border-color: var(--salmon);
}

.button--yellow-on-hover:hover {
	background: var(--yellow);
	border-color: var(--yellow);
}
