.card {
	--inner-spacing: var(--spacing-md);

	background: var(--surface-dark-background);
	border: 1px solid var(--surface-dark-stroke);
	border-radius: var(--radius-lg);
}

.card__header {
	aspect-ratio: 4/3;
}

.card__header img {
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__body {
	padding: var(--inner-spacing);
}

.card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--inner-spacing) var(--inner-spacing);
}
