.display {
	color: var(--content-on-dark-primary);
	font-weight: 900;
}

.display--xl {
	font-size: var(--display-xl);
	line-height: 0.96;
	letter-spacing: -0.06em;
}

.display--lg {
	font-size: var(--display-lg);
	line-height: 0.96;
	letter-spacing: -0.06em;
}

.display--md {
	font-size: var(--display-md);
	line-height: 1;
	letter-spacing: -0.04em;
}

.display--sm {
	font-size: var(--display-sm);
	line-height: 1;
	letter-spacing: -0.02em;
}
