.rich-text {
	/* Add top spacing to improve visual when an anchor is used */
	--anchor-spacing: var(--spacing-lg);
	padding-top: var(--anchor-spacing);
	margin-top: calc(var(--anchor-spacing) * -1);
}

/**
 * Spacing
 */

.rich-text > *:not(img) {
	max-width: var(--container-md);
	margin-left: auto;
	margin-right: auto;
}

/**
 * Elements style
 */

.rich-text blockquote {
	color: var(--content-on-dark-primary);
	position: relative;
	padding-left: var(--spacing-lg);
}

.rich-text blockquote::before {
	content: '“';
	color: var(--green-700);
	display: block;
	font-size: var(--display-md);
	line-height: 1;
	margin-bottom: var(--spacing-sm);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-10%);
}

.rich-text > p:has(img) {
	max-width: 100%;
}

.rich-text img {
	border-radius: var(--radius-md);
}

.rich-text a {
	color: var(--green-700);
}

.rich-text a:hover {
	color: var(--green-800);
}

.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
	color: var(--content-on-dark-primary);
	font-weight: 900;
}

.rich-text h2 {
	font-size: var(--heading-xl);
	line-height: 1.05;
	letter-spacing: -1px;
}

.rich-text h3 {
	font-size: var(--heading-md);
	line-height: 1.15;
	letter-spacing: -0.5px;
}

.rich-text h4,
.rich-text h5,
.rich-text h6 {
	font-size: var(--heading-sm);
	line-height: 1.2;
	letter-spacing: -0.5px;
}

/**
 * Spacing
 */

.rich-text * + *,
.rich-text blockquote > * + * {
	margin-top: var(--spacing-sm);
}

/* Any element that is after an h2
Any element that is after an h3
Any element that is before an h3
Any element that is before an h4 */

.rich-text h2 + *,
.rich-text h3 + *,
.rich-text * + h3,
.rich-text * + h4 {
	margin-top: var(--spacing-md);
}

/* Any element that is before an h2
Any element that is before a paragraph with an image
Any element that is before a blockquote
Any element that is after a paragraph with an image
Any element that is after a paragraph with an image */

.rich-text * + h2,
.rich-text * + p:has(img),
.rich-text * + blockquote,
.rich-text p:has(img) + *,
.rich-text blockquote + * {
	margin-top: var(--spacing-lg);
}
