.service {
	background: var(--surface-dark-1);
	padding: var(--spacing-lg);
	border: 1px solid var(--surface-dark-stroke);
	border-radius: var(--radius-md);

	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-md);
}

.service__content {
	flex: 1 1 300px;
	display: grid;
	gap: var(--spacing-sm);
}
