.swiper-slide {
	height: auto;
	padding: 1rem 0;
}

@media (--phone) {
	.swiper-wrapper {
		padding: 0px var(--side-spacing);
	}
}

@media (--tablet), (--desktop) {
	.swiper-slide {
		min-width: 40ch;
		width: 30%;
	}
}
