.tag {
	border-radius: var(--radius-xs);
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding: 0.25em 0.5em;
	font-size: var(--label-sm);
}

.tag--positive {
	border-color: var(--content-on-light-primary);
	color: var(--content-on-light-primary);
}

.tag--negative {
	border-color: var(--content-on-dark-primary);
	color: var(--content-on-dark-primary);
}
