.tag {
	border-color: var(--content-on-dark-primary);
	border-radius: var(--radius-circle);
	border-style: solid;
	border-width: 1px;
	color: var(--content-on-dark-primary);
	display: inline-block;
	font-size: var(--label-md);
	padding: 0.3em 1em;
	text-decoration: none;
}

.tag:hover {
	border-color: var(--content-on-dark-secondary);
	color: var(--content-on-dark-secondary);
}
