.content-feedback {
	padding-top: 6rem;
	padding-bottom: 6rem;

	&__wrapper {
		// Align the content horizontally and vertically.
		display: grid;
		place-content: center;
		position: relative;

		// Set min-height to avoid content jump when the feedback is displayed.
		min-height: 7.5rem;
	}

	&__successful-message {
		animation: fade-in 300ms ease-in-out;

		// Align the message to the center of the box.
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		text-align: center;
	}

	[data-content-feedback-status="not-answered"] &__successful-message {
		display: none;
	}

	[data-content-feedback-status="answered"] &__question {
		display: none;
	}
}
