//
//
//

.scenes {
	counter-reset: scene;

	&__wrap,
	&__items {
		min-height: 100vh;
		width: 100%;
		position: relative;
	}
}

.scene {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding: var(--header-height) var(--side-spacing) !important;

	&--intro {
		// Increment the counter for each item after the first.
		// So the first item will have a counter of 0, the second 1, etc.
		&:nth-child(n + 2) {
			counter-increment: scene;
		}

		// Hide the counter on the first item.
		// It was added to keep the counter width consistent.
		&:first-child {
			.display {
				&:before {
					opacity: 0;
				}
			}
		}

		.display {
			--counter-width: 1.5em;

			max-width: 20ch;
			margin: auto;
			position: relative;

			&:before {
				content: counter(scene);
				display: block;
				border-radius: 100%;
				border: 1px solid var(--surface-light-1);
				font-weight: 300;
				text-align: center;

				width: var(--counter-width);
				height: var(--counter-width);
				line-height: var(--counter-width);
				margin-bottom: var(--spacing-md);
			}
		}
	}

	&__inner {
		width: 100%;
	}
}

@include media('>desktop') {
	.scene {
		align-items: center;

		&__inner {
			min-height: 13.75rem;
		}

		&--intro {
			.display {
				padding-left: calc(var(--counter-width) + var(--spacing-md));

				&:before {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
