.vacancies {
	&::before {
		content: "";
		position: absolute;
		background: url(/vectors/brand-bubble-10-blue.svg) no-repeat center/ contain;
		width: 36rem;
		height: 36rem;

		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;

		transform: translateY(40%) translateX(20%) rotate(0);
		z-index: -1;
	}
}

.vacancies-card {
	background: #f1f2f4;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;

	margin-left: auto;
	margin-right: auto;
	max-width: 25rem;
	width: 100%;

	&__header {
		background: map-get($colors, neutral-100);
		border: 1px map-get($colors, border) solid;
		padding: 20%;
		height: 10.25rem;
	}

	&__body {
		padding: 1.5rem;
		display: grid;
		align-content: space-between;
		gap: 1.5rem;

		* {
			color: map-get($colors, neutral-0);
		}

		h2 {
			min-height: 6.5rem;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: 0.5rem;
		align-items: center;
		padding: 0 1.5rem 1.5rem;
	}

	&__share {
		position: relative;
		z-index: 1;

		&__button {
			* {
				color: map-get($colors, neutral-0);
			}

			&__icon {
				border-radius: 100%;
				margin: auto;
				padding: var(--padding);
				width: 2rem;
			}
		}

		&__list {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, -100%);
		}

		&__item {
			margin-bottom: 0.75rem;
		}

		&__link {
			border-radius: 100%;
			box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
			display: flex;
			justify-content: center;

			padding: 0.4rem;
			width: 2.5rem;
			height: 2.5rem;
			margin: auto;

			&--twitter {
				background-color: #1da1f2;
			}

			&--facebook {
				background-color: #1778f2;
			}

			&--linkedin {
				background-color: #0077b7;
			}

			&--whatsapp {
				background-color: #25d366;
			}
		}
	}
}
