.blog {
	background: var(--gradient-1);
	padding-bottom: 0;
	text-align: center;
}

@media (--desktop) {
	.blog {
		padding-top: var(--spacing-xxxl);
		padding-bottom: var(--spacing-xxxl);
		text-align: left;
	}
}
