@media (--desktop) {
	.eventos-e-publicacoes .container > .grid {
		grid-template-columns: 4fr 2fr;
	}

	.eventos-e-publicacoes .container > .grid > :first-child {
		position: relative;
	}

	.eventos-e-publicacoes .container > .grid > :first-child::before {
		content: '';
		display: block;
		height: 100%;
		width: 1px;
		background-color: var(--content-on-dark-secondary);
		position: absolute;
		right: calc(var(--gapX) / 2 * -1);
	}
}

@media (--phone), (--tablet) {
	.eventos-e-publicacoes {
		text-align: center;
	}
}
