.hero {
	min-height: 100vh;

	/* Align content to the bottom */
	display: grid;
	align-content: flex-end;
}

/* ==========================================================================
   Attributes
   ========================================================================== */

.hero__attributes {
	display: flex;
	gap: var(--spacing-md);
	justify-content: center;
}

/* ==========================================================================
   Image
   ========================================================================== */

.hero .background {
	/* Make the background cover the whole section */
	max-width: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--z-index-background);
}

.hero .background::before,
.hero .background::after {
	/* Position the gradient that improves readability */
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
}

.hero .background::before {
	/* Add a gradient from the top to the bottom to improve menu readability */
	background: var(--gradient-dark-to-transparent);
	height: 30%;
	top: 0;
}

.hero .background::after {
	/* Add a gradient from the bottom to the top to improve title readability */
	background: var(--gradient-transparent-to-dark);
	height: 100%;
	bottom: 0;
}

.hero .background > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
