.imprensa {
}

.imprensa__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-lg);
}

.imprensa__list__logo {
	height: 4.375rem;
	filter: grayscale(100%);
}
