.politica-de-privacidade {
	color: var(--content-on-dark-secondary);
	padding-top: var(--spacing-xxl);
}

/**
 * Elements style
 */

.politica-de-privacidade-content a {
	color: var(--green);
}

.politica-de-privacidade-content a:hover {
	color: var(--green-hover);
	opacity: 1;
}

.politica-de-privacidade-content h2,
.politica-de-privacidade-content h3,
.politica-de-privacidade-content h4 {
	color: var(--content-on-dark-primary);
	font-size: var(--heading-sm);
	font-weight: 900;
	letter-spacing: -0.5px;
	line-height: 1.2;
}

/**
 * Spacing between elements
 */

.politica-de-privacidade-content * + * {
	margin-top: var(--spacing-sm);
}

.politica-de-privacidade-content h2,
.politica-de-privacidade-content h3,
.politica-de-privacidade-content h4 {
	margin-top: var(--spacing-lg);
}

/**
 * Ordered List
 */

/* Number Style */
.politica-de-privacidade-content > ol > li > h2::before,
.politica-de-privacidade-content > ol > li > ol > li > h3::before,
.politica-de-privacidade-content > ol > li > ol > li > ol > li > h4::before {
	color: var(--green);
	font-weight: 700;
	margin-right: var(--spacing-xs);
}

/* Add Section Number */
.politica-de-privacidade-content > ol {
	counter-reset: section;
}
.politica-de-privacidade-content > ol > li {
	counter-increment: section;
}
.politica-de-privacidade-content > ol > li > h2::before {
	content: counters(section, '.') '. ';
}

/* Add Subsection Number */
.politica-de-privacidade-content > ol > li > ol {
	counter-reset: subsection;
}
.politica-de-privacidade-content > ol > li > ol > li {
	counter-increment: subsection;
}
.politica-de-privacidade-content > ol > li > ol > li > h3::before {
	content: counters(section, '.') '.' counters(subsection, '.') '. ';
}

/* Add Subsubsection Number */
.politica-de-privacidade-content > ol > li > ol > li > ol {
	counter-reset: subsubsection;
}
.politica-de-privacidade-content > ol > li > ol > li > ol > li {
	counter-increment: subsubsection;
}
.politica-de-privacidade-content > ol > li > ol > li > ol > li > h4::before {
	content: counters(section, '.') '.' counters(subsection, '.') '.' counters(subsubsection, '.') '. ';
}

@media (--tablet), (--desktop) {
	.politica-de-privacidade-content > ol > li ol {
		padding-left: var(--spacing-md);
	}
}

/**
 * Unordered List
 */

.politica-de-privacidade-content ul {
	padding-left: var(--spacing-sm);
}

.politica-de-privacidade-content ul > li {
	position: relative;
	padding-left: var(--spacing-sm);
}

.politica-de-privacidade-content ul > li::before {
	--size: 0.3em;

	content: '';
	background-color: var(--green);
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: calc(var(--size) * 1.75);
	left: 0;
}

.politica-de-privacidade-content ul > li + li {
	margin-top: var(--spacing-xs);
}
