.pronto-para-a-mudanca {
	padding-bottom: 0;
	text-align: center;
}

@media (--desktop) {
	.pronto-para-a-mudanca {
		padding-top: var(--spacing-xxxl);
		padding-bottom: var(--spacing-xxxl);
		text-align: right;
	}

	.pronto-para-a-mudanca::before {
		/* Add a gradient from the bottom to the top to improve readability */
		content: '';
		background: var(--gradient-transparent-to-dark);
		width: 100%;
		height: 50%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: var(--z-index-overlay);
	}
}
