.pronto-para-a-mudanca {
	background: var(--gradient-1);
	padding-bottom: 0;
	text-align: center;
}

@media (--desktop) {
	.pronto-para-a-mudanca {
		padding-top: var(--spacing-xxxl);
		padding-bottom: var(--spacing-xxxl);
		text-align: right;
	}
}
