.subpage-hero {
	min-height: 100vh;

	/* Align content to the bottom by default */
	display: grid;
	align-content: flex-end;
}

.subpage-hero--center {
	align-content: center;
}

.subpage-hero-background {
	/* Make the background cover the whole section */
	max-width: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: var(--z-index-background);
}

.subpage-hero-background::before {
	/* Add a gradient from the bottom to the top to improve readability */
	content: '';
	background: linear-gradient(0deg, var(--surface-dark-background) 0%, rgba(0, 0, 0, 0) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
}

.subpage-hero-background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
