.transtornos-card {
	--icon-size: 6.25rem;

	/* Make sure cards have the same height */
	display: grid;
	height: 100%;

	/* Position the icon */
	position: relative;
	margin-top: calc(var(--icon-size) / 2);
}

/*  */
/*  */
/*  */

.transtornos-card__icon {
	width: 6.25rem;
	height: 6.25rem;

	/* Position the icon */
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(25%, -50%);
}

.transtornos-card__icon--center {
	transform: translate(-50%, -50%);
	left: 50%;
}

.transtornos-card__icon > img {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease-in-out;
}

.transtornos-card__icon > img:last-child {
	opacity: 0;
}

.transtornos-card__icon > img:first-child {
	opacity: 1;
}

.transtornos-card:has(a:hover) .transtornos-card__icon > img:last-child {
	/* Show colored icon when hovering over button */
	opacity: 1;
}

/*  */
/*  */
/*  */

.transtornos-card__content {
	margin-top: var(--spacing-md);

	/* Make the button be at the bottom */
	display: grid;
	align-content: space-between;
	grid-gap: var(--spacing-md);
}
