.transtornos {
}

.transtornos-card {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--spacing-xs) var(--spacing-md);

	/* Make all items the same height */
	height: 100%;
}

.transtornos-card > * {
	flex: 1;
}

.transtornos-card__figure {
	max-width: 6.25rem;
	flex-basis: 6.25rem;
}

.transtornos-card__figure > img {
	width: 100%;
	margin: 0;
}

.transtornos-card__content {
	/* Wrap columns when there's enough space to the content */
	flex-basis: 17.5rem;
	align-self: stretch;

	/* Make the button be at the bottom */
	display: grid;
	align-content: space-between;
	grid-gap: var(--spacing-md);
}
