.tudo-bem-buscar-ajuda {
	position: relative;
}

.tudo-bem-buscar-ajuda picture {
	margin-top: var(--spacing-xl);
	position: relative;
}

.tudo-bem-buscar-ajuda picture::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--gradient-transparent-to-dark);
	z-index: 0;
}

@media (--desktop) {
	.tudo-bem-buscar-ajuda picture {
		height: 110%;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		transform: translateX(-26rem);
	}

	.tudo-bem-buscar-ajuda picture img {
		height: 100%;
		object-fit: contain;
		object-position: bottom;
	}
}
