.feed {
	--gapX: var(--spacing-md);
	--gapY: var(--spacing-md);
	--gap: var(--gapY) var(--gapX);

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: var(--gap);
}

.feed--lg {
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
