:where(.section) {
	padding: var(--spacing-xxl) var(--side-spacing);
	position: relative;
}

:where(.section + .section) {
	padding-top: 0;
}

:where(.section:first-child) {
	padding-top: calc(var(--header-height) + var(--spacing-md));
}

/*  */
/*  */
/*  */

.section--100vh {
	min-height: 100vh;
	display: grid;
	align-content: center;
}

/*  */
/*  */
/*  */

.section--padding-top {
	padding-top: var(--spacing-xxl);
}

.section--padding-bottom {
	padding-bottom: var(--spacing-xxl);
}

.section--padding-top-0 {
	padding-top: 0;
}

.section--padding-bottom-0 {
	padding-bottom: 0;
}

/*  */
/*  */
/*  */

.section:has(.line),
.section:has(.image-fill-height) {
	/* Avoid horziontal scrollbars caused by the line */
	overflow-x: hidden;

	/* Make content be above the background and line */
	z-index: 0;
}
