<footer class="footer">
	<div class="container">
		<div class="grid align-bottom">
			<div class="column column-6-at-desktop">
				<div class="stack-md">
					<a href="/" title="Página principal" aria-label="Voltar para a página principal">
						{{ partial "svg.html" (dict "viewBox" "0 0 123 72" "src" "/vectors/logo-yuri-busin.svg" "class" "brand") }}
					</a>
					<div class="stack-xs">
						<p class="label-sm">© <time datetime="2006">{{ now.Format "2006" }}</time> Yuri Busin. <a class="link link--invisible" href="/politica-de-privacidade">Política de Privacidade</a></p>
						<p class="label-sm">Criação do site por <a class="link link--invisible" href="https://jogajunto.co/" target="_blank" rel="noopener">Jogajunto</a>.</p>
					</div>
				</div>
			</div>
			<div class="column column-6-at-desktop">
				<div class="stack-md">
					<p class="label-sm">
						<a class="link link--invisible" href="{{ .Site.Params.address.link }}" target="_blank" rel="noopener" title="Como chegar">
							{{ .Site.Params.address.formatted | safeHTML }}
						</a>
					</p>
					<div class="stack-xs">
						<p class="label-sm"><a class="link link--invisible" href="{{ .Site.Params.email.link }}" title="Enviar um e-mail">{{ .Site.Params.email.address }}</a></p>
						<p class="label-sm"><a class="link link--invisible" href="{{ .Site.Params.address.link }}" title="Ligar">{{ .Site.Params.phone.number }}</a> | <a class="link link--invisible" href="{{ .Site.Params.whatsApp }}" title="Enviar mensagem via WhatsApp">WhatsApp</a></p>
					</div>
					<ul class="social">
						<li class="social__item">
							<a class="social__link" title="Instagram" href="{{ .Site.Params.social.instagram }}" rel="noopener" target="_blank">
								{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-instagram.svg" "class" "icon align-center") }}
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" title="YouTube" href="{{ .Site.Params.social.youtube }}" rel="noopener" target="_blank">
								{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-linkedin.svg" "class" "icon align-center") }}
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" title="Facebook" href="{{ .Site.Params.social.facebook }}" rel="noopener" target="_blank">
								{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-facebook.svg" "class" "icon align-center") }}
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" title="WhatsApp" href="{{ .Site.Params.social.whatsApp }}" rel="noopener" target="_blank">
								{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-whatsapp.svg" "class" "icon align-center") }}
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" title="TikTok" href="{{ .Site.Params.social.tikTok }}" rel="noopener" target="_blank">
								{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-tiktok.svg" "class" "icon align-center") }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="whatsapp-pin">
		<a href="{{ .Site.Params.social.whatsApp }}" target="_blank" rel="noopener">
			{{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/social-whatsapp.svg") }}
		</a>
	</div>
	<div class="a11y">
		<a href="#body" class="button button--green back-to-top visually-hidden">Voltar para o topo</a>
	</div>
</footer>
