<section class="section vacancies bg-purple">
  <div class="container">
    <div class="columns align-stretch" style="--cols-desktop: repeat(4, 1fr); --cols-tablet: repeat(2, 1fr); --gap: 1.5rem">
      <div class="content align-middle">
        <h2 class="headline headline--size-2 color-brand-dark-blue">Vagas abertas em destaque</h2>
        <p class="text-blockquote" style="--margin: 24px">Inscreva-se diretamente na vaga aberta ou no nosso banco de talentos. É gratuito!</p>
      </div>
      {{ range .Site.Data.vagas }}
        <div class="vacancies-card">
          <div class="vacancies-card__header">
            <img src="{{ .logo }}" alt="{{ .company }}" />
          </div>
          <div class="vacancies-card__body">
            <h2 class="headline headline--size-4">{{ .title }}</h2>
            <div class="content content--xsmall">
              <p class="text-bold">{{ .company }}</p>
              <p>{{ .location }}</p>
            </div>
          </div>
          <div class="vacancies-card__footer">
            <details class="vacancies-card__share" data-close-on-esc-or-click-outside="true">
              <summary class="vacancies-card__share__button" aria-label="Compartilhar">
                {{ partial "svg.html" (dict "class" "vacancies-card__share__button__icon" "viewBox" "0 0 24 24" "src" "/icons/share-alt.svg") }}
                <span class="visually-hidden">Compartilhar</span>
              </summary>
              <ul class="vacancies-card__share__list">
                <li class="vacancies-card__share__item">
                  <a class="vacancies-card__share__link vacancies-card__share__link--whatsapp" href="https://api.whatsapp.com/send?text={{ .title }}%20{{ .url }}" target="_blank" rel="noopener">
                    {{ partial "svg.html" (dict "class" "vacancies-card__card__share__icon" "viewBox" "0 0 24 24" "src" "/icons/social-whatsapp.svg") }}
                    <span class="visually-hidden">WhatsApp</span>
                  </a>
                </li>
                <li class="vacancies-card__share__item">
                  <a class="vacancies-card__share__link vacancies-card__share__link--linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ .url }}" target="_blank" rel="noopener">
                    {{ partial "svg.html" (dict "class" "vacancies-card__card__share__icon" "viewBox" "0 0 24 24" "src" "/icons/social-linkedin.svg") }}
                    <span class="visually-hidden">LinkedIn</span>
                  </a>
                </li>
                <li class="vacancies-card__share__item">
                  <a class="vacancies-card__share__link vacancies-card__share__link--twitter" href="https://twitter.com/intent/tweet?text={{ .title }}&url={{ .url }}" target="_blank" rel="noopener">
                    {{ partial "svg.html" (dict "class" "vacancies-card__card__share__icon" "viewBox" "0 0 24 24" "src" "/icons/social-twitter.svg") }}
                    <span class="visually-hidden">Twitter</span>
                  </a>
                </li>
                <li class="vacancies-card__share__item">
                  <a class="vacancies-card__share__link vacancies-card__share__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .url }}" target="_blank" rel="noopener">
                    {{ partial "svg.html" (dict "class" "vacancies-card__card__share__icon" "viewBox" "0 0 24 24" "src" "/icons/social-facebook.svg") }}
                    <span class="visually-hidden">Facebook</span>
                  </a>
                </li>
              </ul>
            </details>
            <a class="button button--primary" href="{{ .url }}">Candidatar-se</a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
