{{ define "main" }}
	<div id="test" style="position: relative; height: 100vh">
		<div class="panel first">
			<div class="container">
				<p class="display display--md">Como psicólogo, eu tenho <span class="color-green">três</span> premissas:</p>
			</div>
		</div>

		<div class="panel">
			<div class="container">
				<p class="display display--md">Meus pacientes devem <span class="color-green">sair melhor do que entraram</span> nas sessões.</p>
			</div>
		</div>

		<div class="panel">
			<div class="container">
				<p class="display display--md">Foco no <span class="color-green">como lidar</span> com as situações.</p>
			</div>
		</div>

		<div class="panel">
			<div class="container">
				<p class="display display--md">Construções são feitas <span class="color-green">para frente</span>.</p>
			</div>
		</div>
	</div>

	<footer>
		<p>I am the footer</p>
	</footer>

	<!--
	<section class="scenes">
		<section class="scenes__wrap">
			<div class="scenes__items">
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Como psicólogo, eu tenho <span class="color-green">três</span> premissas:</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Meus pacientes devem <span class="color-green">sair melhor do que entraram</span> nas sessões.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Foco no <span class="color-green">como lidar</span> com as situações.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Construções são feitas <span class="color-green">para frente</span>.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--content">
					<div class="scene__inner">
						<div class="container container--lg">
							<div class="grid grid--reverse align-middle">
								<div class="stack-lg">
									<h2 class="display display--md">Yuri Busin</h2>
									<h3 class="heading heading--sm">
										<span class="color-green">Psicólogo, Mestre e Doutor</span> <br />
										em Neurociência Cognitiva
									</h3>
									<ul class="list">
										<li>Palestrante</li>
										<li>Empreendedor</li>
										<li>Fundador do Dialogo Positivo</li>
										<li>+ 25k horas ajudando pessoas</li>
									</ul>
								</div>
								<div class="stack-lg">
									<picture class="image-fill-height image-fill-height--left">
										<img src="/teste.png" alt="Dr. Yuri Busin" loading="lazy" />
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

  -->

	<section class="section">
		<div class="stack-lg">
			<div class="container">
				<div class="text-center">
					<h2 class="display display--md">Como posso te ajudar?</h2>
				</div>
			</div>
			{{ partial "transtornos.html" . }}
		</div>
	</section>

	<section class="section evolua-com-especialista">
		<div class="stack-lg stack-xl-at-desktop">
			<div class="container container--sm">
				<div class="text-center">
					<h2 class="display display--md">Evolua com quem é especialista</h2>
				</div>
			</div>
			<div class="container">
				<div class="text-center">
					<a href="https://g1.globo.com/fantastico/noticia/2021/09/05/haters-o-exercito-invisivel-que-dissemina-odio-na-internet-e-nao-poupa-ninguem-de-seus-ataques.ghtml" target="_blank" rel="noopener" title="Ver matéria">
						<span class="visually-hidden">Haters, o exército invisível que dissemina ódio na internet e não poupa ninguém de seus ataques</span>
						<img class="image-border image-radius-md image-square-at-phone" src="/images/thumb-video-fantastico.webp" alt="..." />
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section imprensa">
		<div class="stack-xl text-center">
			<h2 class="display display--md">Imprensa</h2>
			<ul class="imprensa__list">
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://cbn.globoradio.globo.com/media/audio/265394/vozes-em-debate-relacionamentos-toxicos.htm" target="_blank" rel="noopener" title="CBN">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 101 70" "src" "/vectors/logo-cbn.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://g1.globo.com/fantastico/noticia/2021/09/05/haters-o-exercito-invisivel-que-dissemina-odio-na-internet-e-nao-poupa-ninguem-de-seus-ataques.ghtml" target="_blank" rel="noopener" title="Fantástico">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 90 70" "src" "/vectors/logo-fantastico.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://super.abril.com.br/saude/gordofobia-faz-tao-mal-a-saude-quanto-o-excesso-de-peso/" target="_blank" rel="noopener" title="Super Interessante">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 118 70" "src" "/vectors/logo-super-interessante.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://www1.folha.uol.com.br/equilibrioesaude/2018/01/1947407-especialistas-dao-dicas-de-como-cumprir-as-promessas-de-ano-novo.shtml" target="_blank" rel="noopener" title="Folha de São Paulo">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 182 70" "src" "/vectors/logo-folha-sp.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://www.uol.com.br/tilt/ultimas-noticias/redacao/2016/04/11/por-que-fechamos-os-olhos-durante-um-beijo-razao-nao-e-romantica.htm" target="_blank" rel="noopener" title="UOL">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 92 70" "src" "/vectors/logo-uol.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://g1.globo.com/fantastico/podcast/isso-esta-acontecendo/noticia/2021/05/22/isso-esta-acontecendo-de-onde-vem-tanto-odio-podcast-investiga-a-mente-dos-haters-ouca-agora.ghtml" target="_blank" rel="noopener" title="G1">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 54 70" "src" "/vectors/logo-g1.svg" ) }}
					</a>
				</li>
				<li class="imprensa__list__item">
					<a class="imprensa__list__link" href="https://vejasp.abril.com.br/cidades/psicologos-internet/" target="_blank" rel="noopener" title="Veja São Paulo">
						{{ partial "svg.html" (dict "class" "imprensa__list__logo" "viewBox" "0 0 98 70" "src" "/vectors/logo-veja.svg" ) }}
					</a>
				</li>
			</ul>
		</div>
	</section>

	<section class="section eventos-e-publicacoes">
		<div class="container">
			<div class="grid">
				<div class="stack-lg">
					<h2 class="heading heading--md">Eventos</h2>
					<div class="grid" style="--gap: var(--spacing-md)">
						{{ range first 2 (where .RegularPages "Params.category" "Saúde") }}
							{{ .Render "card" }}
						{{ end }}
					</div>
				</div>
				<div class="stack-lg">
					<h2 class="heading heading--md">Publicações</h2>
					<ul class="stack-sm">
						{{ range first 5 (where .RegularPages "Params.category" "not in" "Saúde") }}
							<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
					<a class="button button--green" href="/blog/">Ver mais</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section pronto-para-a-mudanca">
		<div class="container">
			<div class="grid grid--reverse align-middle" style="--gapY: var(--spacing-xl)">
				<div class="stack-lg">
					<h2 class="display display--md">Está pronto para a mudança?</h2>
					<a class="button button--green" href="{{ .Site.Params.whatsApp }}" target="_blank" rel="noopener">Agende uma consulta</a>
				</div>
				<div class="stack-lg">
					<picture class="image-fill-height image-fill-height--left">
						<img src="/images/blog.webp" alt="Dr. Yuri Busin sentado refletindo" />
					</picture>
				</div>
			</div>
		</div>
	</section>
{{ end }}
