{{ define "main" }}
	<!--
	<section class="scenes">
		<section class="scenes__wrap">
			<div class="scenes__items">
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Como psicólogo, eu tenho <span class="color-green">três</span> premissas:</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Meus pacientes devem <span class="color-green">sair melhor do que entraram</span> nas sessões.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Foco no <span class="color-green">como lidar</span> com as situações.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--intro">
					<div class="scene__inner">
						<div class="container">
							<p class="display display--md">Construções são feitas <span class="color-green">para frente</span>.</p>
						</div>
					</div>
				</div>
				<div class="scene scene--content">
					<div class="scene__inner">
						<div class="container">
							<div class="grid align-middle reverse-at-desktop" style="--desktop: repeat(2, 1fr)">
								<div class="stack-lg text-center text-right-at-desktop">
									<h2 class="display display--md">Yuri Busin</h2>
									<h3 class="heading heading--sm">
										<span class="color-green">Psicólogo, Mestre e Doutor</span> <br />
										em Neurociência Cognitiva
									</h3>
									<ul class="list">
										<li>Palestrante</li>
										<li>Empreendedor</li>
										<li>Fundador do Dialogo Positivo</li>
										<li>+ 25k horas ajudando pessoas</li>
									</ul>
								</div>
								<picture class="image-fill-height image-fill-height--left">
									<img src="/teste.png" alt="Dr. Yuri Busin" loading="lazy" />
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
  -->

	<section class="section como-posso-te-ajudar">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				{{ with $.Site.GetPage "section" "transtornos" }}
					{{ range .RegularPages }}
						<div class="swiper-slide">
							{{ .Render "card" }}
						</div>
					{{ end }}
				{{ end }}
			</div>
		</div>
	</section>

	<section class="section evolua-com-especialista">
		<div class="stack-lg stack-xl-at-desktop">
			<div class="container container--sm">
				<h2 class="display display--md">Evolua com quem é especialista</h2>
			</div>
			<div class="container">
				<div class="text-center">
					<a href="https://g1.globo.com/fantastico/noticia/2021/09/05/haters-o-exercito-invisivel-que-dissemina-odio-na-internet-e-nao-poupa-ninguem-de-seus-ataques.ghtml" target="_blank" rel="noopener" title="Ver matéria">
						<span class="visually-hidden">Haters, o exército invisível que dissemina ódio na internet e não poupa ninguém de seus ataques</span>
						<img class="image-border image-radius-md" src="/images/thumb-video-fantastico.webp" alt="..." />
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section imprensa">
		<div class="stack-xl text-center">
			<h2 class="display display--md">Imprensa</h2>
			<p>LOGO LOGO LOGO LOGO</p>
		</div>
	</section>

	<section class="section eventos-e-publicacoes">
		<div class="container">
			<div class="grid" style="--gapX: var(--spacing-xxl)">
				<div class="stack-lg">
					<h2 class="heading heading--md">Eventos</h2>
					<div class="grid" style="--gap: var(--spacing-md)">
						<div class="stack-sm">
							<img class="image-radius-sm" src="/images/eventos-safe-experience.webp" alt="..." />
							<h3 class="label-sm">Safe Experience</h3>
						</div>
						<div class="stack-sm">
							<img class="image-radius-sm" src="/images/eventos-capacitacao-dialogo-positivo.webp" alt="..." />
							<h3 class="label-sm">Capacitação Diálogo Positivo</h3>
						</div>
					</div>
				</div>
				<div class="stack-lg">
					<h2 class="heading heading--md">Publicações</h2>
					<ul class="list">
						<li><a href="/blog/">Blog</a></li>
						<li><a href="">Trabalhos científicos publicados</a></li>
						<li><a href="">Pesquisa compulsão por smartphones</a></li>
					</ul>
					<a class="button button--negative" href="/blog/">Ver mais</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section pronto-para-a-mudanca">
		<div class="container">
			<div class="grid grid--reverse align-middle" style="--gapY: var(--spacing-xl)">
				<div class="stack-lg">
					<h2 class="display display--md">Está pronto para a mudança?</h2>
					<a href="#publicacoes" class="button button--green">Agende uma consulta</a>
				</div>
				<div class="stack-lg">
					<picture class="image-fill-height image-fill-height--left">
						<img src="/yuri-busin.webp" alt="Dr. Yuri Busin" loading="lazy" />
					</picture>
				</div>
			</div>
		</div>
	</section>
{{ end }}
