{{ define "main" }}
	<section class="section obrigado-pelo-contato">
		<div class="container container--lg">
			<div class="grid align-middle">
				<div class="stack-md">
					<h1 class="display display--lg">Obrigado pelo contato!</h1>
				</div>
				<div class="stack-md">
					<p class="heading heading--md color-green">Responderei a sua mensagem o mais breve possível!</p>
					<p>Enquanto isso, <a href="/blog/">confira o meu blog</a>, do qual escrevo e publico constantemente artigos sobre Psicologia e Comportamento do Cotidiano.</p>
					<p>Boa leitura!</p>
				</div>
			</div>
		</div>
		{{ partial "line.html" }}
	</section>
{{ end }}
