.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-xl);

	&--xxl {
		max-width: var(--container-xxl);
	}

	&--xl {
		max-width: var(--container-xl);
	}

	&--lg {
		max-width: var(--container-lg);
	}

	&--md {
		max-width: var(--container-md);
	}

	&--sm {
		max-width: var(--container-sm);
	}

	&--xs {
		max-width: var(--container-xs);
	}
}

@include media('>tablet', '<desktop') {
	.container:not(.container--fluid) {
		max-width: 75%;
	}
}
