.content {
	--margin: 1.5rem;

	&--xsmall {
		--margin: 0.25rem;
	}

	&--small {
		--margin: 0.5rem;
	}

	&--compact {
		--margin: 1rem;
	}

	> * + * {
		margin-top: var(--margin);
	}

	> .headline--size-2 + p,
	> .headline--size-2 + ul,
	> * + .buttons {
		--margin: 2.5rem;
	}
}
