.footer {
	padding: var(--spacing-xl) var(--side-spacing);
}

@include media('<desktop') {
	.footer {
		text-align: center;
	}

	.footer .brand,
	.footer .social {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}
