.half-section {
  position: relative;

  &__image,
  &__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include breakpoint(large) {
    &__content {
      max-width: 36.45rem;
    }

    &__content .section {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    &__container {
      max-width: 26.7rem;
      margin-left: auto;
    }
  }
}
