.section {
	padding: 12rem $default-side-padding;
	position: relative;
	z-index: 1;

	&--compact {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	&--small {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	&--diagonal {
		// clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
		// margin-top: -8%;
	}

	@include breakpoint(small, medium) {
		padding-top: 6rem;
		padding-bottom: 6rem;

		&--compact {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}
}
