.stack {
  --gap: 2.5rem;

  display: grid;
  grid-auto-rows: auto;
  grid-gap: var(--gap);
  justify-self: center;
  width: 100%;

  &--expansive {
    --gap: 4rem;
  }

  &--compact {
    --gap: 2rem;
  }

  &--small {
    --gap: 1.5rem;
  }

  &--xsmall {
    --gap: 0.5rem;
  }
}
