$stackSizes: xxs, xs, sm, md, lg, xl, xxl;

@each $size in $stackSizes {
	:where(.stack-#{$size} > * + *) {
		margin-top: var(--spacing-#{$size});
	}

	@include media('>desktop') {
		:where(.stack-#{$size}-at-desktop > * + *) {
			margin-top: var(--spacing-#{$size});
		}
	}

	@include media('>tablet', '<=desktop') {
		:where(.stack-#{$size}-at-tablet > * + *) {
			margin-top: var(--spacing-#{$size});
		}
	}

	@include media('<=tablet') {
		:where(.stack-#{$size}-at-phone > * + *) {
			margin-top: var(--spacing-#{$size});
		}
	}
}
