.nav {
	&__wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
		padding: 1.5rem $default-side-padding;
	}

	&__brand {
		border-radius: 0.25rem;
		max-width: 4.875rem;
	}

	&__toggle {
		height: $default-close-button-size;
		width: $default-close-button-size;
	}

	&__list {
		display: flex;
		gap: 0.75rem 1rem;
		align-items: center;

		&__details {
			&__link {
				opacity: 0.5;
				display: block;
				padding: 0.5em;
			}
		}

		&__item {
			text-align: center;

			.button {
				margin-top: 1rem;
			}
		}

		&__link {
			@include nav-link();
			display: block;
			font-size: 1.5rem;
			padding: 0.75rem 1.5rem;
			text-decoration: none;
			transition: color 300ms ease-in-out, border 300ms ease-in-out;
			opacity: 0.5;

			&__icon {
				width: 1.5rem;
			}

			&:hover,
			&:active,
			&:focus {
				outline: none;
				color: map-get($colors, neutral-80);

				@include breakpoint(large) {
					color: map-get($colors, green);
				}
			}

			&--active {
				opacity: 1;
			}
		}
	}
}

// -
// -
// -

[data-dialog="closed"] {
	.nav {
		&__list,
		&__brand__image--mono,
		&__toggle__icon--close {
			display: none; // Hide the nav bar, monochrome logo, and close button when the dialog is closed.
		}
	}
}

// -
// -
// -

[data-dialog="open"] {
	.nav {
		&__wrapper {
			background: map-get($colors, green); // Set the background color.
			color: map-get($colors, neutral-100); // Change the text color to contrast with the background color.
			align-content: flex-start; // Align logo and toogle button to the top of the nav.
			height: 100vh; // Make the nav full height.
			position: relative; // Make the nav relative so the nav list can be positioned absolutely.
		}

		&__list {
			flex-direction: column; // Make the nav list a column instead of a row.
			position: absolute; // Make the nav list absolute so it can be aligned to the center of the nav.
			left: 0; // Align horizontally to the center of the nav.
			right: 0; // Align horizontally to the center of the nav.
			align-self: flex-start; // Align vertically to the top of the nav.
			margin-top: 14vh; // Offset the top of the nav list to the center of the nav.
		}

		&__brand__image--colored,
		&__toggle__icon--open {
			display: none; // Hide the colored logo and the open toogle button when the dialog is open.
		}
	}
}

// -
// -
// -

@include breakpoint(large) {
	.header {
		padding: 1.5rem $default-side-padding;
	}

	[data-dialog] {
		.nav {
			&__wrapper {
				padding: 0; // Reset padding on large screens.
			}

			&__toggle {
				display: none; // Hide the toggle on large screens.
			}

			&__list {
				display: flex; // Show the list on large screens.

				&__link {
					font-size: 1.125rem; // Reset font size on large screens.
					padding: 0.5rem 0.75em; // Increase clickable area.
					opacity: 1; // Reset opacity on large screens.

					&--active {
						color: map-get($colors, green); // Change the active link color.
						font-weight: bold; // Make the active link bold.
					}
				}

				&__item .button {
					margin-top: 0; // Reset top margin on large screens.
					margin-left: 1rem; // Add margin to offset link margin.
				}

				&__details {
					position: relative;

					&__list {
						background: map-get($colors, neutral-100);
						border-radius: 0.5rem;
						border: 1px solid map-get($colors, border);
						min-width: max-content;
						padding: 1.5rem;
						text-align: left;

						position: absolute;
						right: 0;
						z-index: 2;
						transform: translateY(0.5rem);

						display: grid;
						gap: 0.5rem;
					}

					&__link {
						display: block;
						opacity: 1;
						transition: color 300ms ease-in-out;
						padding: 0;

						&:hover,
						&:active,
						&:focus {
							outline: none;
							color: map-get($colors, green);
						}
					}
				}
			}
		}
	}
}
