<section class="section bg-blue content-feedback">
  <div class="container container--compact">
    <div class="content-feedback__wrapper" data-content-feedback-status="not-answered">
      <div class="content-feedback__question">
        <div class="flex align-center" style="--gap: 1.5rem 4rem">
          <h2 class="headline headline--size-2">Está conteúdo foi útil?</h2>
          <div class="buttons">
            <button class="button button--outline button--large" type="button" data-content-feedback-button="{{ .Get "id" }}">Sim</button>
            <button class="button button--outline button--large" type="button" data-content-feedback-button="{{ .Get "id" }}">Não</button>
          </div>
        </div>
      </div>
      <div class="content-feedback__successful-message">
        <p class="headline headline--size-2">Agradecemos pelo retorno!</p>
      </div>
    </div>
  </div>
</section>
